{% extends 'base.html' %}

{% block title %}
<title>About</title>
{% endblock %}

{% block content %}
<h1>A propos</h1>
<br>
<br>
<br><p>Site créé par Wassila B3DIGB&D sur les données RNA</p>
<br>
<br>
<p>Le RNA répertorie l’ensemble des associations relevant de la loi du 1er juillet 1901 relative au contrat d’association, dont le siège est en France (métropole et outre-mer) à l’exclusion des départements de la Moselle (57), du Bas-Rhin (67) et du Haut-Rhin (68) qui relèvent d’un régime spécifique.
Le RNA contient également, dans les mêmes conditions, les associations reconnues d’utilité publique.
Le RNA est alimenté après instruction du dossier par le greffe des associations lors d’une création, d’une modification ou d’une dissolution.

Les déclarations de création sont ensuite publiées au Journal Officiel des Associations et Fondations d’Entreprise (JOAFE).</p>
<br>
<br>
<h1>Modalités de diffusion des données du RNA</h1>
<br>
<p>Conformément aux dispositions de la loi pour une République numérique du 7 octobre 2016 les données du RNA mises à disposition par le ministère de l’Intérieur et font partie des données accessibles en consultation et téléchargeables en données ouvertes.

    Le contenu des données téléchargeables est scindé en deux extractions :
    RNA_waldec : liste des associations disposant d’un numéro RNA. Toutes les associations créées ou ayant déclaré un changement de situation depuis 2009 disposent d’un numéro RNA.
    RNA_import : liste des associations créées depuis 1901 et qui n’ont pas effectué de déclaration de changement de situation depuis 2009.
    
    Une version rénovée du RNA est en cours d’élaboration par le ministère de l’Intérieur ; elle permettra à terme d’harmoniser le suivi des greffes sur l’ensemble du territoire national.
</p>
<br>
<br>
<h1>Contenu de l'extraction</h1>
<p>le cas échéant, le n° RNA
    le nom de l’association et son sigle
    l’objet de l’association et son objet social
    l’adresse du siège
    le cas échéant, l’adresse de gestion
    le cas échéant, le site internet de l’association</p>

{% endblock %}