{% extends 'base.html' %}

{% block title %}
<title>visualisations</title>
{% endblock %}

{% block content %}
<h1>Gestion (diagramme en barre) :</h1>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Graphique gestion</title>
    <!-- Inclure Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <canvas id="myChart"></canvas>

    <select id="variableSelect">
		<option value="variable1">011S</option>
		<option value="variable2">012P</option>
		<option value="variable3">013S</option>
        <option value="variable4">014S</option>
	</select>
    
    <script>
        // Récupérer les données depuis la base de données ou autre source
        const data = {
            labels: ['011S', '012P', '013S', '014S'],
            datasets: [{
                label: 'gestion',
                data: [1542, 3994, 1346,1840],
                backgroundColor: 'rgb(178, 209, 226)',
                borderColor: 'rgb(11, 87, 127)',
                borderWidth: 1
            }]
        };

        // Créer le graphique
        const ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'bar',
            data: data,
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
        var variableSelect = document.getElementById('variableSelect');
		variableSelect.addEventListener('change', function() {
			// Mettre à jour les données du graphique en fonction de la variable sélectionnée
			var selectedVariable = variableSelect.value;
			if (selectedVariable === 'variable1') {
				myChart.data.datasets[0].data = [1542];
			} else if (selectedVariable === 'variable2') {
				myChart.data.datasets[0].data = [3994];
			} else if (selectedVariable === 'variable3') {
				myChart.data.datasets[0].data = [1346];
			}else if (selectedVariable === 'variable4') {
				myChart.data.datasets[0].data = [1840];
			}
			// Mettre à jour le graphique
			myChart.update();
		});
    </script>
</body>
</html>


{% endblock %}