
<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}<title>Page tableau de bord</title>{% endblock %}

{% block content %}
<h1>Tableau de bord</h1>
<table class="table">
    <thead>
        <tr>
            <th>Sur quelles données</th>
            <th>Lien visualisation</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>La première visualition énumère les effectifs des associations en fonction de chaque gestion.</td>
            <td><a href="/gestion" class="mon-bouton" >Gestion</a></td>
            
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>La seconde visualition montre la répartition des associations en fonction de la gestion, sous force de diagramme circulaire.</td>
            <td><a href="/cercle" class="mon-bouton" >Gestion</a></td>

            
        </tr>
    </tbody>
</table>


{% endblock %}
