@import './params.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: $primary;
    color: $secondary;

    .container {
        background: wheat;
        width: 70vw;
        margin: 2% auto;
        padding: 20px;
        border: 1px solid #00003d;
        border-radius: 20px;
    }

    .italic {
        font-style: italic;
    }

    .hero {
        color: navy;

        .italic {
            font-weight: bold;
        }
    }
}